{% extends("_base") %}

{% block content %}
<div class="row">
	<div class="col-sm-12 col-md-6 col-lg-7">
		{% include("_inc_highlights") %}
	</div>
	<div class="col-sm-12 col-md-6 col-lg-5">
		<div class="card mt-2 mb-2">
			<div class="card-header">
				<ul class="nav nav-tabs card-header-tabs">
					<li class="nav-item">
						<a class="nav-link" href="/signin">Sign In</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="#0">Sign Up</a>
					</li>
				</ul>
			</div>
			<div class="card-body">
				<form action="/signup" method="post">
					{% if error %}
					<div class="mb-3">
						<div class="alert alert-danger">
							{{ error }}
						</div>
					</div>
					{% endif %}
					<div class="mb-3">
						<label for="inputEmail" class="form-label">Email:</label>
						<input id="inputEmail" name="email" class="form-control" placeholder="name@example.com" value="{{ email }}">
					</div>
					<div class="mb-3">
						<label for="inputName" class="form-label">Name:</label>
						<input id="inputName" name="name" class="form-control" placeholder="Name" value="{{ name }}">
					</div>
					<div class="mb-3">
						<label for="inputPassword" class="form-label">Password:</label>
						<input id="inputPassword" name="password" type="password" class="form-control" placeholder="Password">
					</div>
					<div class="mb-2">
						<button type="submit" class="btn btn-success w-100">Sign Up</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}
